
 <div class="container">
        <div class="row center light">
          <div class="col s12 center section">
            <h1 class=" purple-text text-lighten-2 logo">{{global.couple}}</h2>
            <h5 class="light date">{{global.date}}</h5>
            <h5 class="light city">{{global.city}}</h5>
          </div>
        </div>
 </div>

<div class="container">
    <div class="row">
        <div class="col s12">
        <form action="./confirmation" method="post">
            <h4>{{confirmation.main_contact}}</h4>
            <div class="input-field">
                <input id="first_name" type="text" class="validate" name="first_name">
                <label for="first_name">{{confirmation.first_name}}</label>
            </div>
            <div class="input-field">
                <input id="last_name" type="text" class="validate" name="last_name">
                <label for="last_name">{{confirmation.last_name}}</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">phone</i>
                <input id="telephone" type="tel" class="validate" name="tel">
                <label for="telephone">{{confirmation.telephone}}</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" name="email">
                <label for="email">{{confirmation.email}}</label>
            </div>

            <h4>{{confirmation.other_people}}</h4>
            <div class="chips chips-placeholder input-field">
                <input id="others" class="input" placeholder="{{confirmation.other_people_list}}" name="others"></input>
            </div>

            <h4>{{confirmation.info}}</h4>
            <div>
                <label>
                    <input type="checkbox" name="need_hostel"/>
                    <span>{{confirmation.need_hostel}}</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="dinner_14"/>
                    <span>{{confirmation.dinner_14}}</span>
                </label>
            </div>

            <textarea id="particular-food" class="materialize-textarea" name="particular-food"></textarea>
            <label for="tparticular-food">{{confirmation.particular-food}}</label>

            <textarea id="particular-mobility" class="materialize-textarea" name="particular-mobility"></textarea>
            <label for="tparticular-mobility">{{confirmation.particular-mobility}}</label>

            <textarea id="particular-babies" class="materialize-textarea" name="particular-babies"></textarea>
            <label for="tparticular-babies">{{confirmation.particular-babies}}</label>

            <textarea id="message" class="materialize-textarea" name="message"></textarea>
            <label for="message">{{confirmation.message}}</label>
            <div class="section">
                  <button id="confirm" class="btn waves-effect waves-light purple lighten-1" type="submit" name="action">{{navbar.confirmation}}</button>
           </div>

  
        </form>
        </div>
    </div>
</div>