
 <div class="container">
        <div class="row center light">
          <div class="col s12 center section">
            <h1 class=" purple-text text-lighten-2 logo">{{global.couple}}</h2>
            <h5 class="light date">{{global.date}}</h5>
            <h5 class="light city">{{global.city}}</h5>
          </div>
        </div>
 </div>

<div class="container">
    <div class="row">
        <div class="col s12">
        <form action="./confirmation" method="post">
            <h4>{{confirmation.main_contact}}</h4>
            <div class="input-field">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">{{confirmation.first_name}}</label>
            </div>
            <div class="input-field">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">{{confirmation.last_name}}</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">phone</i>
                <input id="telephone" type="tel" class="validate">
                <label for="telephone">{{confirmation.telephone}}</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">{{confirmation.email}}</label>
            </div>

            <h4>{{confirmation.other_people}}</h4>
            <div class="chips chips-placeholder input-field">
                <input id="others" class="input" placeholder="{{confirmation.other_people_list}}"></input>
            </div>

            <h4>{{confirmation.info}}</h4>
            <div>
                <label>
                    <input type="checkbox" />
                    <span>{{confirmation.need_hostel}}</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" />
                    <span>{{confirmation.dinner_14}}</span>
                </label>
            </div>

            <textarea id="particular-food" class="materialize-textarea"></textarea>
            <label for="tparticular-food">{{confirmation.particular-food}}</label>

            <textarea id="particular-mobility" class="materialize-textarea"></textarea>
            <label for="tparticular-mobility">{{confirmation.particular-mobility}}</label>

            <textarea id="particular-babies" class="materialize-textarea"></textarea>
            <label for="tparticular-babies">{{confirmation.particular-babies}}</label>

            <textarea id="message" class="materialize-textarea"></textarea>
            <label for="message">{{confirmation.message}}</label>
            <div class="section">
                <a href="#confirm" id="confirm-button" class="btn-small waves-effect waves-light purple lighten-1">{{navbar.confirmation}}</a>
            </div>

            <input type="submit" value="submit">
        </form>
        </div>
    </div>
</div>