
 <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="javascript:scrollToId('ceremony_and_party')">{{navbar.ceremony_and_party}}</a></li>
        <li><a href="javascript:scrollToId('travelling')">{{navbar.travelling}}</a></li>
        <li><a href="javascript:scrollToId('accomodation')">{{navbar.accomodation}}</a></li>
        <li><a href="javascript:scrollToId('confirmation')">{{navbar.confirmation}}</a></li>
        <li><a href="javascript:scrollToId('turist_info')">{{navbar.turist_info}}</a></li>
        <li><a href="javascript:scrollToId('wedding_list')">{{navbar.wedding_list}}</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="javascript:scrollToId('ceremony_and_party')">{{navbar.ceremony_and_party}}</a></li>
        <li><a href="javascript:scrollToId('travelling')">{{navbar.travelling}}</a></li>
        <li><a href="javascript:scrollToId('accomodation')">{{navbar.accomodation}}</a></li>
        <li><a href="javascript:scrollToId('confirmation')">{{navbar.confirmation}}</a></li>
        <li><a href="javascript:scrollToId('turist_info')">{{navbar.turist_info}}</a></li>
        <li><a href="javascript:scrollToId('wedding_list')">{{navbar.wedding_list}}</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>

<div class="container">
        <div class="row center light">
          <h2 class="header col s12 center purple-text text-lighten-2 logo">{{global.couple}}</h1>
          <h6 class="header col s12 light">{{global.date}}</h5>
        </div>
        <div class="row center">
          <a href="#confirm" id="confirm-button" class="btn-large waves-effect waves-light purple lighten-1">{{navbar.confirmation}}</a>
        </div>
      </div>


  <div class="container anchor" id="ceremony_and_party">
    <div class="section row">
        <h5 class="header col s12 gray light">{{navbar.ceremony_and_party}}</h5>
    </div>

    <div class="row">
      <div class="col s4">
        <img class="responsive-img polaroid rotate_l5 z-depth-3" src="/images/PhotoPaoloAriane-1.jpg">
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
  </div>


  <div class="container anchor" id="accomodation">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.accomodation}}</h5>
    </div>
  </div>

  <div class="container anchor"  id="confirmation">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.confirmation}}</h5>
       
    </div>
  </div>

  <div class="container anchor" id="turist_info"/>
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.turist_info}}</h5>
       
    </div>
  </div>

  <div class="container anchor" id="wedding_list">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.wedding_list}}</h5>
       
    </div>
  </div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">  {{cerimony.location}} h 10:30 </h5>
          <h6 class="header col s12 light">Piazza Garibaldi, 34, 36061 Bassano del Grappa VI, Italia </h6>
        </div>
      </div>
    </div>

    <div class="parallax"><img src="images/PhotoPaoloAriane-1.jpg" alt="Unsplashed background img 1"></div>
  </div>

