
 <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="javascript:scrollToId('welcome')">{{navbar.welcome}}</a></li>
        <li><a href="javascript:scrollToId('ceremony_and_party')">{{navbar.ceremony_and_party}}</a></li>
        <li><a href="javascript:scrollToId('travelling')">{{navbar.travelling}}</a></li>
        <li><a href="javascript:scrollToId('accomodation')">{{navbar.accomodation}}</a></li>
        <li><a href="javascript:scrollToId('confirmation')">{{navbar.confirmation}}</a></li>
        <li><a href="javascript:scrollToId('turist_info')">{{navbar.turist_info}}</a></li>
        <li><a href="javascript:scrollToId('wedding_list')">{{navbar.wedding_list}}</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="javascript:scrollToId('welcome')">{{navbar.welcome}}</a></li>
        <li><a href="javascript:scrollToId('ceremony_and_party')">{{navbar.ceremony_and_party}}</a></li>
        <li><a href="javascript:scrollToId('travelling')">{{navbar.travelling}}</a></li>
        <li><a href="javascript:scrollToId('accomodation')">{{navbar.accomodation}}</a></li>
        <li><a href="javascript:scrollToId('confirmation')">{{navbar.confirmation}}</a></li>
        <li><a href="javascript:scrollToId('turist_info')">{{navbar.turist_info}}</a></li>
        <li><a href="javascript:scrollToId('wedding_list')">{{navbar.wedding_list}}</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>

  <div class="container">
        <div class="row center light">
          <div class="col s12 center section">
            <h1 class=" purple-text text-lighten-2 logo">{{global.couple}}</h2>
            <h5 class="light date">{{global.date}}</h5>
            <h5 class="light city">{{global.city}}</h5>
          </div>
        </div>
        <div class="row center light">
          <div class="col s12 center section">
            <a href="#confirm" id="confirm-button" class="btn-small waves-effect waves-light purple lighten-1">{{navbar.confirmation}}</a>
          </div>
        </div>
 </div>

  <div class="container anchor" id="welcome">
    <div class="row">
      <div class="col s4 m4 l4"><img class="responsive-img polaroid rotate_l5 z-depth-3" src="/images/PhotoPaoloAriane-1.jpg"/></div>
      <div class="col s6 m6 l6">
        <h5 class="header grey-text">{{navbar.welcome}}</h5>
      </div>
      <div class="col s12 m7 l7">
        <p class="flowtext grey-text text-darken-3">
          {{welcome.dear_friends}}<br/>
          {{welcome.paragraph1}}<br/>
          {{welcome.value_paragraph}}
        </p>
        {{#each welcome.values}}
        <p class="flowtext grey-text text-darken-3"><span class="value">{{value}}</span> - {{explanation}}</p>
        {{/each}}
      </div>
    </div>
  </div>

 <div class="container anchor" id="ceremony_and_party">
        <div class="row">
          <h5 class="header col gray light s12">{{navbar.ceremony_and_party}}</h5>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <img class="polaroid" src="/images/PhotoPaoloAriane-1.jpg">
                <span class="card-title">{{cerimony.cerimony}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">info_outline</i></a>
              </div>
              <div class="card-content">
                <p>{{cerimony.ceremony_desc}}</p>
              </div>
              <div class="card-action">
                <a href="">Come arrivare</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <img class="polaroid" src="/images/PhotoPaoloAriane-1.jpg">
                <span class="card-title">{{cerimony.party}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">info_outline</i></a>
              </div>
              <div class="card-content">
                <p>{{cerimony.party_desc}}</p>
              </div>
              <div class="card-action">
                <a href="">Come arrivare</a>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
            <div class="col s12">
             <p class="flowtext">{{cerimony.paragraph1}}</p>
             <p class="flowtext">{{cerimony.paragraph2}}</p>
            </div>
        </div>
      </div>
</div>
    

    </div>
  </div>


  <div class="container anchor" id="travelling">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.travelling}}</h5>
    </div>
  </div>

  <div class="container anchor" id="accomodation">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.accomodation}}</h5>
    </div>
  </div>

  <div class="container anchor"  id="confirmation">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.confirmation}}</h5>
       
    </div>
  </div>

  <div class="container anchor" id="turist_info"/>
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.turist_info}}</h5>
       
    </div>
  </div>

  <div class="container anchor" id="wedding_list">
    <div class="section">
        <h5 class="header col s12 gray light">{{navbar.wedding_list}}</h5>
       
    </div>
  </div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">  {{cerimony.location}} h 10:30 </h5>
          <h6 class="header col s12 light">Piazza Garibaldi, 34, 36061 Bassano del Grappa VI, Italia </h6>
        </div>
      </div>
    </div>

    <div class="parallax"><img src="images/PhotoPaoloAriane-1.jpg" alt="Unsplashed background img 1"></div>
  </div>

