  <div class="container">
        <div class="row center light">
          <div class="col s12 center section">
            <h1 class=" purple-text text-lighten-2 logo">{{global.couple}}</h2>
            <h5 class="light date">{{format global.date}}</h5>
            <h5 class="light city">{{global.city}}</h5>
          </div>
        </div>
 </div>

{{#with turistic_info}}
<div id="turistic-info">
        <div id="tabnav" class="pushpin-infos turistic-nav" data-target="turistic-info">
            <div class="container tab-nav">
                        <div class="right">
                            <li class="tab"><a href="#bassano">{{bassano.title}}</a></li>
                            <li class="tab"><a href="#surroundings">{{surroundings.title}}</a></li>
                            <li class="tab"><a href="#veneto-cities">{{veneto-cities.title}}</a></li>
                        </div>
                    </ul>
            </div>
        </div>

<div class="container" id="turistic-info">
    <div class="row">
        {{#with bassano}}
        <div class="col m3">
            <div class="pushpin-infos" data-target="bassano" super-target="tabnav">
                <div class="turistic-leftmenu">
                    <h5 class="turistic-title">{{title}}</h5>
                    <ul class="section table-of-contents">
                        {{#each section}}
                        <li><a href="#{{id}}">{{menu}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div id="bassano" class="col m9">
            {{#each section}}
            <div id="{{id}}" class="section scrollspy">
                 <h6 class="turistic-title">{{title}}</h6>
                <p>{{desc}}</p>
                <a href="{{link}}">{{link}}</a>
                <div class="row turistic-imgs">
                    {{#each img}}
                    <div class="col s12 m6"><a href="#{{this}}" class="modal-trigger"><img class="responsive-img polaroid z-depth-3" src="{{this}}"/></a></div>
                    <img id="{{this}}" class="modal responsive-img polaroid" src="{{this}}"/>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

        {{/with}}
    </div>

    <div class="row">
        <div class="col m3">
            <div class="pushpin-infos" data-target="bassano" super-target="tabnav">
                <ul class="section table-of-contents">
                    <li><a href="#b1">Introduction</a></li>
                </ul>
            </div>
        </div>
        <div id="bassano" class="col m9">
            <div id="b1" class="section scrollspy">
            </div>
        </div>
    </div>

</div>
</div>
{{/with}}