  <div class="container">
        <div class="row center light">
          <div class="col s12 center section">
            <h1 class=" purple-text text-lighten-2 logo">{{global.couple}}</h2>
            <h5 class="light date">{{format global.date}}</h5>
            <h5 class="light city">{{global.city}}</h5>
          </div>
        </div>
 </div>

{{#with turistic_info}}
<div id="turistic-info">
        <div id="tabnav" class="pushpin-infos turistic-nav" data-target="turistic-info">
            <div class="container">
                <div id="supermenu">
                    <ul class="tab-nav">
                        <li class="tab"><a href="#bassano">{{bassano.title}}</a></li>
                        <li class="tab"><a href="#surroundings">{{surroundings.title}}</a></li>
                        <li class="tab"><a href="#veneto-cities">{{veneto-cities.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>


<div class="container" id="turistic-info">
    <div class="row">
        <div class="col m3">
            <div class="pushpin-infos" data-target="bassano" super-target="supermenu">
                <ul class="section table-of-contents">
                    <li><a href="#b1">Introduction</a></li>
                    <li><a href="#structure">Structure</a></li>
                    <li><a href="#initialization">Intialization</a></li>
                </ul>
            </div>
        </div>
        <div id="bassano" class="col m9 blue">
            <div id="b1" class="section scrollspy">
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>

            </div>

            <div id="structure" class="section scrollspy">
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
            </div>

            <div id="initialization" class="section scrollspy">
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
                <p>Content </p>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col m3">
                <div class="pushpin-infos" data-target="C">
                    <ul class="section table-of-contents">
                        <li><a href="#C1">Introduction</a></li>
                        <li><a href="#C2">Structure</a></li>
                        <li><a href="#C3">Intialization</a></li>
                    </ul>
                </div>
            </div>
            <div id="C" class="col m9 blue">
                <div id="C1" class="section scrollspy">
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>

                </div>

                <div id="C2" class="section scrollspy">
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                </div>

                <div id="C3" class="section scrollspy">
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                    <p>Content </p>
                </div>
            </div>
    </div>
</div>
</div>
{{/with}}