  <div class="container">
        <div class="row center light">
          <div class="col s12 center section">
            <h1 class=" purple-text text-lighten-2 logo">{{global.couple}}</h2>
            <h5 class="light date">{{format global.date}}</h5>
            <h5 class="light city">{{global.city}}</h5>
          </div>
        </div>
 </div>

{{#with turistic_info}}
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4"><img class="responsive-img polaroid rotate_l5 z-depth-3 spaced-top" src="/images/stazione.jpg"/></div>
        <div class="col s12 m6 l8 section">
            <p class="flowtext">{{format intro1}}</p>
            <p class="flowtext">{{format intro2}}</p>
            <p class="flowtext">{{format intro3}}
            <ul class="browser-default">
            {{#each block}}
            <li><b>{{title}}</b> - {{desc}}</li>
            {{/each}}
            </ul>
            </p>
        </div>
    </div>
    <div class="divider"></div>
</div>


<div>
        <!-- Big screen pushpin bar -->
        <div id="tabnav" class="pushpin-infos hide-on-med-and-down turistic-nav" data-target="turistic-info">
            <div class="container">
                    <ul class="tab-nav right">
                        {{#each block}}
                        <li class="tab"><a href="#{{id}}">{{title}}</a></li>
                        {{/each}}
                        <li class="tab"><a href="/{{../global.lang-code}}"><i class="material-icons">home</i></a></li>
                    </ul>
            </div>
        </div>
        
        <!-- Mobile Menu -->
        <div class="pushpin-infos hide-on-large-only turistic-nav" data-target="turistic-info">
                <div class="valign-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons purple-text">menu</i></a><span class="mobile-menu-nav"> {{menu-nav}}</span>
                 </div>                
        </div>    
        <ul id="slide-out" class="sidenav">
            <li><a class="waves-effect purple-text" href="/{{../global.lang-code}}"><i class="material-icons purple-text">home</i>{{home-link}}</a></li>
            <li><div class="divider"></div></li>
            {{#each block}}
            <li><a class="subheader" href="#{{id}}">{{title}}</a></li>
             {{#each section}}
                <li><a class="waves-effect" href="#{{id}}">{{menu}}</a></li>
                {{#if subtree}}
                {{#each subsection}}
                <div class="subsection">
                <li><a href="#{{id}}">{{menu}}</a></li>
                </div>
                {{/each}}
                {{/if}}
             {{/each}}
            <li><div class="divider"></div></li>
            {{/each}}
        </ul>
         

<div class="container" id="turistic-info">
    {{#each block}}
    <div class="row">
        <div class="col m3">
            <!-- Big screen pushpin menu -->
            <div class="pushpin-infos hide-on-med-and-down" data-target="{{id}}" super-target="tabnav">
                <div class="turistic-leftmenu">
                    <h5 class="turistic-title">{{title}}</h5>
                    <ul class="section table-of-contents">
                        {{#each section}}
                        <li><a href="#{{id}}">{{menu}}</a></li>
                        {{#if subtree}}
                        {{#each subsection}}
                        <div class="subsection">
                        <li><a href="#{{id}}">{{menu}}</a></li>
                        </div>
                        {{/each}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <!-- Mobile not pushpin title -->
            <div class="hide-on-large-only">
                <h5 class="turistic-title">{{title}}</h5>
            </div>
        </div>
        <div id="{{id}}" class="col s12 m12 l9">
            {{#each section}}
            <div id="{{id}}" class="section scrollspy">
                <h6 class="turistic-title purple-text">{{title}}</h6>
                <p>{{format desc}}</p>
                <a href="{{link}}">{{link}}</a>
                <div class="row turistic-imgs">
                    {{#each img}}
                    <div class="col s12 m6"><a href="#{{this}}" class="modal-trigger"><img class="responsive-img polaroid z-depth-3" src="{{this}}"/></a></div>
                    <img id="{{this}}" class="modal responsive-img polaroid" src="{{this}}"/>
                    {{/each}}
                </div>
            </div>

            {{#if subtree}}
            {{#each subsection}}
                <div id="{{id}}" class="subsection scrollspy">
                    <h6 class="turistic-title">{{title}}</h6>
                    <p>{{format desc}}</p>
                    <a href="{{link}}">{{link}}</a>
                    <div class="row turistic-imgs">
                        {{#each img}}
                        <div class="col s12 m6"><a href="#{{this}}" class="modal-trigger"><img class="responsive-img polaroid z-depth-3" src="{{this}}"/></a></div>
                        <img id="{{this}}" class="modal responsive-img polaroid" src="{{this}}"/>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
            {{/if}}
            
            <div class="divider"></div>
            {{/each}}

        </div>
    </div>
    {{/each}}

</div>
</div>
{{/with}}